
<campo-container
  [classLabel]="classLabel"
  [classContainer]="classContainer"
  [classInputGroup]="classInputGroup"
  [formGroup]="formGroup"
  [label]="label"
  [labelNoCampo]="labelNoCampo"
  [ocultarLabel]="ocultarLabel"
  [name]="name"
  [inputId]="inputId"
  [readonly]="readonly"
  [required]="required">
  <ng-template #campo>
    <input
      #inputNativo
      type="text"
      class="form-control"
      [ngClass]="[classTamanhoInput, styleClass, labelNoCampo ? 'with-label' : '']"
      (input)="input()"
      (blur)="blur()"
      (keyup.enter)="enter()"
      [autocomplete]="autocomplete"
      [formControlName]="name"
      [id]="inputId"
      [required]="required"
      [maxlength]="maxlength"
      [placeholder]="placeholder">
  </ng-template>
</campo-container>

