<campo-container [formGroup]="formGroup"
                 [label]="label"
                 [ocultarLabel]="ocultarLabel"
                 [name]="name"
                 [readonly]="readonly"
                 [required]="required">
  <ng-template #campo>
    <input
      #inputNativo
      type="text"
      class="form-control"
      [mask]="mask"
      [validation]="false"
      [ngClass]="[classTamanhoInput, styleClass]"
      (input)="input()"
      (blur)="blur()"
      (keyup.enter)="enter($event)"
      [autocomplete]="autocomplete"
      [formControlName]="name"
      [id]="name"
      [required]="required">
  </ng-template>
</campo-container>
